body {
  background-color: #fff;
  font-family: 'Roboto Mono', monospace;
}
.container {
  width: 600px;
  height: 800px;
  margin: auto;
  background-color: #FFB300;
  padding: 30px;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.container input[type="text"] {
  border:0;
  width: 300px;
  border: 2px solid #FFEE58;
  border-radius: 30px;
  text-align: center;
  background: none;
  outline: none;
  font-size: 30px;
  padding: 10px;
  transition: 0.25s;
  color: #fff;

}
.container input[type="text"]:hover {
  width: 500px;
  border-color: #F57F17;
}
.btn {
  margin: auto;
  width: 100px;
  margin-top: 20px;
  font-size: 20px;
  border: 2px solid #FFEE58;
  border-radius: 30px;
  padding: 10px;
}

.btn:hover {
  background-color: #F57F17;
  border: 2px solid #F57F17;
  cursor: pointer;
}
