body {
  background-color: #FFB300;
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  padding: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  user-select: none;
}

/* Hide up & down arrows from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
  border:0;
  width: 300px;
  border: 2px solid #FFEE58;
  border-radius: 30px;
  text-align: center;
  background: none;
  outline: none;
  font-size: 30px;
  padding: 10px;
  transition: 0.25s;
  color: inherit;
}

input:hover {
  width: 500px;
  border-color: #F57F17;
}

.btn {
  background-color: #FFB300;
  width: 150px;
  margin-top: 20px;
  margin-left: -16px;
  font-size: 20px;
  color: inherit;
  border: 2px solid #FFEE58;
  border-radius: 30px;
  padding: 10px;
  outline: none;
  background-position: center;
  transition: background 0.5s, border 0.5s;
}

.btn:hover {
  background: #F57F17 radial-gradient(circle, transparent 1%, #F57F17 1%) center/15000%;
  border: 2px solid #e06e0a;
  cursor: pointer;
}

.btn:active {
  background-color: #c05e08;
  background-size: 100%;
  transition: background 0s;
}
