body {
  background-color: #fff;
  font-family: 'Roboto Mono', monospace;
}
.container {
  width: 600px;
  height: 800px;
  margin: auto;
  background-color: #FFB300;
  padding: 30px;
  text-align: center;
  color: #fff;
  font-size: 30px;
}
.container input[type="text"] {
  border:0;
  width: 300px;
  border: 4px solid #FFEE58;
  border-radius: 15px;
  text-align: center;
  background: none;
  outline: none;
  font-size: 30px;
  padding: 10px;
  transition: 0.25s;
}
.container input[type="text"]:hover {
  width: 500px;
  border-color: #F57F17;
}
